@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: default;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}


/* dark and light theme mode */









